

html{
}
body{
	margin:0;
}

h3{
	box-sizing: border-box;
	display:block;
	padding:0;
	text-align:center;
}

#content {
	padding:25px;
}

input#cameraBtn {
	display: block;
	text-align:center;
}

#faceCanvas {
	display:block;
	border: solid 1px;
}

#okBtn {
	display:block;
	width:100px;
	height:50px;
	font-size: 20px;
}

#swipeZone {
	display:block;
	background:yellow;
	width:80%;
	height:80px;
}


.m0auto {
	display:block;
	margin:0 auto;
}

.mb25 {
	margin-bottom: 25px;
}
