

html{
}
body{
	margin:0;
}

h3{
	box-sizing: border-box;
	display:block;
	margin: 0 auto;
	padding:0;
	text-align:center;
}

#content {
	padding:25px;
}

input#cameraBtn {
	display: block;
	text-align:center;
}

#faceCanvas {
	display:block;
	margin: 0 auto;
	border: solid 1px;
}

#okBtn {
	display:block;
	margin:0 auto;
	width:100px;
	height:50px;
	font-size: 20px;
}

.mb25 {
	margin-bottom: 25px;
}
